<!--https://www.jb51.net/web/824162.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
            <div class="header">Login</div>
            <div class="form-wrapper">
                <form action="http://8.134.190.122:80/login" method="post">
                    <input type="text" name="username" placeholder="username" class="input-item">
                    <input type="password" name="password" placeholder="password" class="input-item">
                    <div id="sub">
						<button type="submit" id="su" class="btn">Login</button>
					</div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>